.header {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    @include defineHeight();
    width: calc(100%);
    align-items: center;
    z-index: $z-index-menu;

    .logo {
        width: 170px;
        padding: 0 30px;
    }

    .contentMenuMobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .header {
        .blockHeader {
            justify-content: center;
        }
    }
}
