.footer {
    position: absolute;
    bottom: 0;
    background: #f2f4f5;
    width: 100%;
}

.p {
    padding: 10px;
    text-align: center;
    color: $color-white;
    text-shadow: 1px 1px 6px #000;
}
